el-dialog {

  --border-color: var(--color-primary-focus);

  --spotlight1-x: 50%;
  --spotlight1-y: 2%;
  --spotlight-size: 18%;
  --spotlight1-base-color: var(--color-surface-black);
  --spotlight1-spot-color: var(--color-canvas);
  --spotlight1-opacity: 76%;

  --modal-y-pos: 0px;

  dialog {
    position: relative;
    inset-block-start: var(--modal-y-pos);
    padding: 0;
    box-sizing: border-box;
    border: 4px solid var(--border-color);
    border-radius: var(--radius-lg);
    transition-property: inset-block-start;
    transition-duration: 0.5s;

    &:has(.spotlight) {

      /* backdrop with spotlight */
      &::backdrop {
        background: radial-gradient(circle at var(--spotlight1-x) var(--spotlight1-y),
            var(--spotlight1-spot-color) var(--spotlight-size),
            color-mix(in srgb, var(--spotlight1-base-color) var(--spotlight1-opacity), transparent) var(--spotlight-size));
        mix-blend-mode: darken;
        transition-property: background;
        transition-duration: 0.5s;
        transition-behavior: allow-discrete;
      }
    }


    .dialog-layout {
      height: 100%;
      flex-direction: column;
      display: flex;
      padding: var(--space-lg);
    }

    button {
      border-radius: var(--radius-xs);
    }

    .dialog-content {
      flex-shrink: 0;
      flex-grow: 1;
      color: var(--color-ink);

      h4 {
        font-family: var(--font-display);
        font-size: var(--text-tagline-size);
        font-weight: var(--text-tagline-weight);
        line-height: var(--text-tagline-lh);
        letter-spacing: var(--text-tagline-ls);
        margin: 0;
        margin-bottom: var(--y-gap);
      }
    }

    .dialog-actions {
      flex-shrink: 1;
      flex-grow: 0;
      margin-top: var(--space-md);
      text-align: center;

      button {
        color: var(--color-primary);
        text-decoration: underline;
        font-family: var(--font-text);
        font-size: var(--text-caption-size);
        line-height: var(--text-caption-lh);
        letter-spacing: var(--text-caption-ls);
        margin: 0 auto;
      }
    }
  }
}
