el-contextual-help {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-primary-on-dark);
  text-align: right;

  svg {
    margin-left: var(--space-xxs);
    width: 56px;
    fill: currentColor;
  }
}