el-activitypicker {
  display: block;



  .combobox-wrapper {
    margin: 0 var(--y-gap);
  }

  label {
    font-size: x-large;
    color: #fff;
  }

  .instruction {
    color: lightgrey;
    font-size: 0.75rem;
  }

  .combobox-input-wrapper {
    position: relative;
    margin: var(--y-gap);

    &::before {
      position: absolute;
      content: " \A8FA";
      top: 16px;
      right: -11px;
      height: 50px;
      width: 50px;
      font-size: 1.6rem;
    }
  }


  .combobox-wrapper input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid;
    border-radius: 0;
    border-color: var(--govuk-input-border-colour, #0b0c0c);
    -webkit-appearance: none;
    appearance: none;
  }

  #activity-picker-popover {
    box-sizing: border-box;
    inset: 0;
    position-area: bottom;
    padding: 0 8px;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    max-height: 75%;
    overflow-y: scroll;
    margin: 0 var(--2y-gap);
    min-width: 75vw;
    max-width: 75vw;
  }
}