el-timeline-stack {
    background-color: red;
    border: 2px solid yellow;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth !important;
    scroll-snap-type: x mandatory;

    /* background-image: url(../../assets/images/timeline.png);
    background-size: contain; */
    &>* {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}