.onboarding-card-image {
    width: 50%;
    padding: 0 25%;
}

el-onboarding {

    display: flex;
    flex-direction: column;
    height: 100%;

    img {
        display: none;
    }

    .content {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navigation {
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: var(--y-gap)
    }

    .button-bar {
        margin-top: calc(2 * var(--y-gap));
        display: flex;
        gap: 8px;
    }

    button {
        padding: 8px 16px;
    }

    button[data-next] {
        flex: 4 1 auto;
        font-size: 1rem;
        color: #fff;

        background-color: var(--border-color);
        border-color: var(--border-color);

        &.last {
            background-color: #28a745;
            border-color: #28a745;
        }
    }

    button[data-back] {
        flex: 0 1 auto;
        font-size: 1rem;
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }


    progress {
        width: 100%;
        padding: 0 32px;
        accent-color: var(--border-color);

        &::-moz-progress-bar {
            background: var(--border-color);
        }

        &::-webkit-progress-value {
            background-color: var(--border-color);
        }
    }
}